#OCI
/src/main/php/application/config/database.php
src/main/php/application/logs

# Eclipse Setting
/.metadata
/Servers
.settings
.project
.classpath
.buildpath
RemoteSystemsTempFiles
bin
org.eclipse.jdt.core.prefs

# Maven
target

# Netbeans Ignore
nbproject
build
dist
private

# Maven ignore
target

